@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.header{
    /* max-width:100rem;
    width:100vw; */
    width:80vw;
    max-width:550px;
    align-self:center;
    padding:2.4rem 4rem;
    border-radius:6px;
    margin:0 auto;
    background: rgba(255, 255, 255, 0.1);
    
    
     
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
  }
  .form{
    display:flex;
    flex-direction: column;
    row-gap:16px;
    width:80vw;
     
}

.form__input{
    border:none;
    border-bottom:1px solid #333;
    padding:6px 6px;
    background:inherit;
    border-radius:4px;
    color:#eee;
     font-size:16px;
     margin-bottom:7px;
  }
  .form__input:hover{
  padding:6px 7px;
  
  
}
.form__input:placeholder{
  color:#111;
}
.form__input:focus{
  border-bottom:4px solid #57cc99;
  background:#aaa ;
  color:#222;
}

 

.yeeti-box{
     margin:0 auto;
     width:10rem;
     height:10rem;
     margin-bottom:54px;
     border-radius:50%;
     outline:2px solid #57cc99;
     outline-offset: 3px;
     overflow:hidden;
}

.img{
   object-fit:cover;
   height:189px;
   width:180px;
   animation: yeeti ease-in-out 2s infinite;
   
   
}


.form__pass{
   margin:9px 0 9px 0;
   display:flex;
   gap:4px;
   font-size:1px;
}
.form__name{
    color:#fff;
    font-size:1rem;
    font-weight:400;
    margin-bottom:2px;
}

.form__btn{
  margin:0 auto;
  border-radius:6px;
  padding:10px 30px;
  border:none; 
  font-size:16px;
  font-weight:500;
  background: #05ab80;
  color:#fff
}
.form__btn:hover{
  background: #036b50;
  transition:all .6s;
}

@keyframes yeeti{
   0%{
     transform:scale(1)
   }
   50%{
    transform:scale(1.05);
   }
   100%{
    transform:scale(1)
   }
}